.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -20px;
}

.grid > [class^="grid-col"] {
	flex-grow: 0;
	flex-shrink: 0;
}

.grid-gutter {
	margin: 0 0 20px 20px;
}

.grid-col--sm-100,
.grid-col--100 {
	flex-basis: 100%;
}

.grid-col--sm-80,
.grid-col--80 {
	flex-basis: 80%;
}

.grid-col--sm-75,
.grid-col--75 {
	flex-basis: 75%;
}

.grid-col--sm-66,
.grid-col--66 {
	flex-basis: 66%;
}

.grid-col--sm-50,
.grid-col--50 {
	flex-basis: 50%;
}

.grid-col--sm-40,
.grid-col--40 {
	flex-basis: 40%;
}

.grid-col--sm-33,
.grid-col--33 {
	flex-basis: 33.333333%;
}

.grid-col--sm-25,
.grid-col--25 {
	flex-basis: 25%;
}

.grid-col--sm-20,
.grid-col--20 {
	flex-basis: 20%;
}

.grid-col--sm-10,
.grid-col--10 {
	flex-basis: 10%;
}

@media (--bp-small) {

	.grid-col--md-100 {
		flex-basis: 100%;
	}

	.grid-col--md-80 {
		flex-basis: 80%;
	}

	.grid-col--md-75 {
		flex-basis: 75%;
	}

	.grid-col--md-66 {
		flex-basis: 66%;
	}

	.grid-col--md-50 {
		flex-basis: 50%;
	}

	.grid-col--md-40 {
		flex-basis: 40%;
	}

	.grid-col--md-33 {
		flex-basis: 33.333333%;
	}

	.grid-col--md-25 {
		flex-basis: 25%;
	}

	.grid-col--md-20 {
		flex-basis: 20%;
	}

	.grid-col--md-10 {
		flex-basis: 10%;
	}
}

@media (--bp-medium) {

	.grid-col--lg-100 {
		flex-basis: 100%;
	}

	.grid-col--lg-80 {
		flex-basis: 80%;
	}

	.grid-col--lg-75 {
		flex-basis: 75%;
	}

	.grid-col--lg-66 {
		flex-basis: 66%;
	}

	.grid-col--lg-50 {
		flex-basis: 50%;
	}

	.grid-col--lg-40 {
		flex-basis: 40%;
	}

	.grid-col--lg-33 {
		flex-basis: 33.333333%;
	}

	.grid-col--lg-25 {
		flex-basis: 25%;
	}

	.grid-col--lg-20 {
		flex-basis: 20%;
	}

	.grid-col--lg-10 {
		flex-basis: 10%;
	}
}
